@font-face {
    font-family: 'PlexMono';
    font-weight: 400;
    src: url('IBMPlexMono-Regular.ttf') format('truetype');
}

.green {
    color: lawngreen;
}

.pink {
    color: hotpink;
}

.blue {
    color: cyan;
}


/* @media (prefers-color-scheme: dark) { */

:root {
    --colorPrimary: #fff;
    --colorSecondary: #999;
    --colorLine: #333;
    --colorBackground: #000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Hide scrollbar for Chrome, Safari and Opera */

*::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* } */

:root {
    --speedFast: 300ms;
    --speedMedium: 500ms;
    --speedSlow: 800ms;
    --speedInstant: 0ms;
    --speedInstant: 0ms;
}

html {
    font-size: 62.5%;
    height: 100%;
    background-color: var(--colorBackground);
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'PlexMono';
    font-weight: 400;
    color: var(--colorSecondary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 0 24px;
    animation: fadeInAnimation ease 1s;
}

h1 {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'PlexMono';
    font-weight: 400;
    color: var(--colorPrimary);
    margin-bottom: 4px;
}


/* a:hover{
        transition: 300ms;
        color: var(--colorPrimary);
    } */

.logo {
    margin-bottom: 28px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.container {
    position: relative;
    max-width: 380px;
}

.menu {
    position: relative;
    top: 25px;
    text-align: center;
}


/* button at the index.html */

.fancybutton {
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: white 1px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 rgb(255, 255, 255, 0.5), 0 0 0.5em 0 rgb(255, 255, 255, 0.5);
}

.fancybutton::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: white;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(1.5em);
    opacity: 0.1;
}

.fancybutton::after {
    content: '';
    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 200ms linear;
}

.fancybutton:hover,
.fancybutton:focus {
    color: white;
    text-shadow: none;
}

.fancybutton:hover::before,
.fancybutton:focus::before {
    opacity: 0.3;
}

.fancybutton:hover::after,
.fancybutton:focus::after {
    opacity: 0.1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.paragraph {
    margin-bottom: 24px;
}


/* gallery.html */

.gallery-container {
    /* courtesy of velorum */
    padding: 47px 12.46%;
    width: 100%;
}

.guild {
    /* position: absolute; */
    border: solid 1px white;
    border-radius: 2%;
    padding: 0.25em 1em;
    cursor: pointer;
    margin-right: 10px;
}

.architects {
    /* position: absolute; */
    border: solid 1px white;
    border-radius: 2%;
    padding: 0.25em 1em;
    cursor: pointer;
}

.top {
    display: flex;
}

.top div {
    flex-grow: 1;
}

.header {
    /* height: 294px;
    width: 1276px; */
    aspect-ratio: 1276/294;
    margin: 27px 0;
    background-image: url(images/Frame\ 4.png);
    background-size: cover;
}

.nfts {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2px;
    margin: 27px 0;
}

.nftbox {
    /* position: absolute; */
    /* width: 320px;
    height: 320px; */
    background-color: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 16px;
}

.nft-round {
    /* position: absolute; */
    font-size: 12px;
    grid-area: 1/1;
}

.nft-type {
    /* position: absolute; */
    font-size: 12px;
    grid-area: 1/2;
    text-align: right;
}

.nft-name {
    /* position: absolute; */
    font-size: 12px;
    color: white;
    grid-area: 3/1;
}

.nft-level {
    /* position: absolute; */
    font-size: 12px;
    grid-area: 3/2;
    text-align: right;
}

.nft-image {
    --planet-level: 7;
    aspect-ratio: 1;
    grid-area: 2 / span 2;
    margin: calc((8 - var(--planet-level)) * 5%);
    align-self: center;
}

.nft-image video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.nft1 {
    --planet-level: 3;
}

.nft2 {
    --planet-level: 3;
}

.nft3 {
    --planet-level: 6;
}

.nft4 {
    --planet-level: 4;
}

.nft5 {
    --planet-level: 2;
}

.nft6 {
    --planet-level: 4;
}

.event-title {
    /* position: relative; */
    top: 30px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.events {
    margin: 27px 0;
}

.title-container {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2px;
    margin: 27px 0;
}

.box-remembered,
.box-intergalactic-yolo,
.box-astral-colossus,
.box-junk-wars {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.box-remembered:hover {
    background-color: rgba(255, 0, 255, 0.1);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.box-intergalactic-yolo:hover {
    background-color: rgb(210, 105, 30, 0.1);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.box-astral-colossus:hover {
    background-color: rgb(0, 255, 255, 0.1);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.box-junk-wars:hover {
    background-color: rgb(138, 43, 226, 0.1);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.title-container a {
    flex: 1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-description {
    min-height: 400px;
    top: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: "a a" "b b" "c c" "d d";
}

.box-description div {
    align-items: center;
    padding: 10px;
}

.description-remembered {
    position: relative;
    margin: auto;
    max-width: 900px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    display: none;
    flex: 3;
    grid-area: a;
}

.table-remembered {
    grid-area: d;
    margin: 25px auto;
    display: none;
}

.table-remembered td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2px 2px;
}

.table-remembered th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.link-remembered {
    position: relative;
    grid-area: c;
    padding: 10px;
    margin: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.link-remembered:before,
.link-remembered:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.link-remembered:hover {
    color: rgba(255, 50, 255, 0.7);
    transition-delay: .5s;
}

.link-remembered:hover:before {
    transition-delay: 0s;
}

.link-remembered:hover:after {
    background: rgba(255, 255, 255, 0.1);
    transition-delay: .35s;
}

.image-remembered {
    vertical-align: middle;
    display: none;
    flex: 2;
    grid-area: b;
}

.image-astral-colossus {
    vertical-align: middle;
    display: none;
    flex: 2;
    border-radius: 100%;
    grid-area: b;
}

.image-intergalactic-yolo,
.image-junk-wars {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50px;
    left: 50px;
    vertical-align: middle;
    background-size: cover;
    display: none;
}

.description-intergalactic-yolo {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 900px;
    vertical-align: middle;
    font-size: 13px;
    display: none;
    grid-area: a;
}

.link-intergalactic-yolo {
    position: relative;
    grid-area: b;
    padding: 10px;
    margin: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.link-intergalactic-yolo:before,
.link-intergalactic-yolo:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.link-intergalactic-yolo:hover {
    color: chocolate;
    transition-delay: .5s;
}

.link-intergalactic-yolo:hover:before {
    transition-delay: 0s;
}

.link-intergalactic-yolo:hover:after {
    background: rgba(255, 255, 255, 0.1);
    transition-delay: .35s;
}

.from-top:before,
.from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-top:before {
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0;
    border-bottom: 0;
}

.from-top:after {
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}

.description-astral-colossus {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 900px;
    vertical-align: middle;
    font-size: 13px;
    display: none;
    grid-area: a;
}

.link-astral-colossus {
    position: relative;
    grid-area: c;
    padding: 10px;
    margin: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.link-astral-colossus:before,
.link-astral-colossus:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.link-astral-colossus:hover {
    color: cyan;
    transition-delay: .5s;
}

.link-astral-colossus:hover:before {
    transition-delay: 0s;
}

.link-astral-colossus:hover:after {
    background: rgba(255, 255, 255, 0.1);
    transition-delay: .35s;
}

.table-astral-colossus {
    grid-area: d;
    margin: 25px auto;
    display: none;
}

.table-astral-colossus td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2px 2px;
}

.table-astral-colossus th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-intergalactic-yolo {
    grid-area: d;
    margin: 25px auto;
    display: none;
}

.table-intergalactic-yolo td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2px 2px;
}

.table-intergalactic-yolo th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.description-junk-wars {
    /* position: relative; */
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    display: none;
}

@media(max-width:500px) {
    .table-remembered thead {
        display: none;
    }
    .table-remembered {
        display: none;
        width: 100%;
    }
    .table-remembered .tbody,
    .table-remembered tr,
    .table-remembered td {
        display: block;
        width: 100%;
    }
    .table-remembered tr {
        margin-bottom: 15px;
    }
    .table-remembered td {
        text-align: right;
        padding-left: 1%;
        font-size: 13px;
        text-align: right;
        position: relative;
    }
    .table-remembered td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    .table-intergalactic-yolo thead {
        display: none;
    }
    .table-intergalactic-yolo {
        display: none;
        width: 100%;
    }
    .table-intergalactic-yolo .tbody,
    .table-intergalactic-yolo tr,
    .table-intergalactic-yolo td {
        display: block;
        width: 100%;
    }
    .table-intergalactic-yolo tr {
        margin-bottom: 15px;
    }
    .table-intergalactic-yolo td {
        text-align: right;
        padding-left: 1%;
        font-size: 13px;
        text-align: right;
        position: relative;
    }
    .table-intergalactic-yolo td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    .table-astral-colossus thead {
        display: none;
    }
    .table-astral-colossus {
        display: none;
        width: 100%;
    }
    .table-astral-colossus .tbody,
    .table-astral-colossus tr,
    .table-astral-colossus td {
        display: block;
        width: 130%;
    }
    .table-astral-colossus tr {
        margin-bottom: 15px;
    }
    .table-astral-colossus td {
        text-align: right;
        padding-left: 1%;
        font-size: 13px;
        text-align: right;
        position: relative;
    }
    .table-astral-colossus td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
}
